<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.furkantektas.braingames" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.furkantektas.braingames.ui.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.GraphActivity"
            android:configChanges="orientation"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.GameColorMatchActivity"
            android:configChanges="orientation"
            android:label="@string/game_color_match"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.GameCompareFastActivity"
            android:configChanges="orientation"
            android:label="@string/game_color_match"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.GameFindOperationActivity"
            android:configChanges="orientation"
            android:label="@string/game_find_operation"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.GameCalculateFastActivity"
            android:configChanges="orientation"
            android:label="@string/game_calculate_fast"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.GameShapeMatchActivity"
            android:configChanges="orientation"
            android:label="@string/game_shape_match"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.tuts.TutColorMatchActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_tut_color_match"
            android:parentActivityName="com.furkantektas.braingames.ui.games.GameColorMatchActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.ui.games.GameColorMatchActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.GameResultActivity"
            android:label="@string/title_activity_game_result"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.ui.MainActivity" />
        </activity>
        <activity
            android:name="com.furkantektas.braingames.ui.games.GameMemoryMatrix"
            android:label="@string/title_activity_game_memory_matrix"
            android:parentActivityName="com.furkantektas.braingames.ui.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.furkantektas.braingames.ui.MainActivity" />
        </activity>
    </application>

</manifest>
